.page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.main{
    height: calc(100vh - 76px);
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.main.hide-menu{
    height: 100vh;
}

.loading{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}